In [1]:
import pandas as pd

In [2]:
liste = pd.read_csv("final_resto_list.csv", index_col=0)

In [12]:
liste.columns

Index(['alias', 'name', 'url', 'categories', 'latitude', 'longitude',
       'address', 'zip_code', 'price', 'rating', 'review_count'],
      dtype='object')

In [30]:
check = liste.copy()

In [31]:
check[pd.isna(liste["address"])]

,alias,name,url,categories,latitude,longitude,address,zip_code,price,rating,review_count
114,le-réfectoire-foodtruck-paris-3,Le Réfectoire - Foodtruck,https://www.yelp.com/biz/le-r%C3%A9fectoire-fo...,"foodtrucks, burgers",48.856930,2.341200,NaN,75000,2,4.5,12.0
197,new-soul-food-paris,New Soul Food,https://www.yelp.com/biz/new-soul-food-paris,"foodtrucks, african, caribbean",48.830120,2.362240,NaN,75013,0,4.5,7.0
702,cheesers-paris,Cheesers,https://www.yelp.com/biz/cheesers-paris,"foodtrucks, tradamerican",48.832180,2.355100,NaN,75013,1,3.5,4.0
738,l-orange-bleue-pantin,l'orange bleue,https://www.yelp.com/biz/l-orange-bleue-pantin,mideastern,48.900566,2.408726,NaN,93500,2,3.5,2.0
819,le-cinq-paris,Le Cinq,https://www.yelp.com/biz/le-cinq-paris,french,48.868800,2.300830,NaN,75008,4,4.5,136.0
832,alain-ducasse-au-plaza-athénée-paris-4,Alain Ducasse au Plaza Athénée,https://www.yelp.com/biz/alain-ducasse-au-plaz...,french,48.866171,2.304417,NaN,75008,4,4.0,96.0
1865,le-camion-qui-fume-paris,Le Camion qui Fume,https://www.yelp.com/biz/le-camion-qui-fume-paris,"burgers, foodtrucks",48.857210,2.341440,NaN,0,2,3.5,162.0

In [37]:
liste.loc[114,"address"] = "31 Rue du Château d’Eau"
liste.loc[197,"address"] = "177 Quai de Valmy" 
liste.loc[702,"address"] = "3 Rue Yves Toudic"
liste.loc[738,"address"] ="3 Rue Magenta"
liste.loc[819,"address"] ="31 avenue George V"
liste.loc[832,"address"] ="25 Avenue Montaigne"
liste.loc[1865,"address"] ="168 Rue Montmartre"

In [40]:
liste.isnull().sum()

alias           0
name            0
url             0
categories      0
latitude        0
longitude       0
address         0
zip_code        0
price           0
rating          0
review_count    0
dtype: int64

In [45]:
liste.to_csv("final_resto_list.csv")