In [1]:
import pandas as pd
import numpy as np
import string
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from datetime import datetime
data = pd.read_csv('review_yelp.csv')
data.head()

,Unnamed: 0,Rating,Dates,Reviews
0,0,4 star rating,11/3/2021,"Emily B.\nSan Francisco, CA\n4\n6\n11/3/2021\n..."
1,1,3 star rating,10/22/2021,"Elliott P.\nGlen Arm, MD\n78\n53\n10/22/2021\n..."
2,2,5 star rating,8/29/2021,"Erick C.\nLincoln, CA\n0\n4\n9\n8/29/2021\n6 p..."
3,3,5 star rating,9/20/2021,"Greg M.\nHuntington Beach, CA\n0\n8\n9/20/2021..."
4,4,4 star rating,11/30/2019,"Bushra H.\nElite 2021\nEdison, NJ\n285\n429\n9..."

In [2]:
def clear_data_text(text, language):
    #remove before the begin of the comment
    for i in range(5):
        pos = 0
        pos = text.find('\n')
        text = text[pos+1:]
    
    #remove punctuation
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')

    # remove number
    text = ''.join(word for word in text if not word.isdigit())

    #pass in lowercase
    text = text.lower()

    #remove stop words
    stop_words = set(stopwords.words(language))
    
    #text to list of word
    word_tokens = word_tokenize(text)

    #list to string
    text = " ".join([w for w in word_tokens if not w in stop_words])
    #remove after the end of the comment
    text = text.rstrip('useful funny cool')
    return text

In [ ]:
#Transform rates in int and date to datetime
for i in range(len(data.Dates)):
    date = datetime.strptime(data['Dates'][i], '%m/%d/%Y').date().isoformat()
    data.loc[i,'Dates'] = pd.to_datetime(date, format='%Y-%m-%d')
    for e in data['Rating'][i]:
        if e.isdigit():
            data.loc[i, 'Rating'] = e

In [ ]:
data['Review_clean'] = ''
for i,rev in data['Reviews'].items():
    c_r = clear_data_text(rev, 'english')
    data.loc[i,'Review_clean'] = c_r

In [ ]:
data.drop('Unnamed: 0', axis = 1, inplace = True)

In [ ]:
data