In [150]:
import pandas as pd
import numpy as np
import string
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from datetime import datetime
data = pd.read_csv('../fobokiller/data/scrapping.csv',nrows=100,index_col=0)
data.head()

,alias,date,rate,review
0,le-sud-paris,11/20/2018,5 star rating,"Ed W.\nElite 2021\nMiami, FL\n259\n562\n4232\n..."
1,le-sud-paris,7/4/2021,2 star rating,"Jaki F.\nElite 2021\nSignal Hill, CA\n358\n270..."
2,le-sud-paris,6/20/2018,3 star rating,"Jen S.\nElite 2021\nBuffalo, NY\n71\n322\n809\..."
3,le-sud-paris,9/28/2015,3 star rating,"Sam S.\nElite 2021\nMunich, Germany\n2133\n255..."
4,le-sud-paris,8/8/2019,1 star rating,"Fahad A.\nLos Angeles, CA\n0\n10\n15\n8/8/2019..."

In [151]:
def clear_data_text(text, language='english'):
    #remove before the begin of the comment
    for i in range(5):
        pos = 0
        pos = text.find('\n')
        text = text[pos+1:]
    
    #remove punctuation
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')

    # remove number
    text = ''.join(word for word in text if not word.isdigit())

    #pass in lowercase
    text = text.lower()

    #remove stop words
    stop_words = set(stopwords.words(language))
    
    #text to list of word
    word_tokens = word_tokenize(text)

    #list to string
    text = " ".join([w for w in word_tokens if not w in stop_words])
    #remove after the end of the comment
    text = text.rstrip('useful funny cool')
    return text

In [152]:
#clean text
data['review_clean'] = data['review'].apply(clear_data_text)

In [153]:
#def function to change date format
def change_date(date,format_='%m/%d/%Y'):
    date_tmp = datetime.strptime(date,format_)
    return date_tmp

In [154]:
#apply change date
data['date'] = data['date'].apply(change_date)

In [155]:
#function to keep digit from rate string
def keep_digit(rate):
    for char in rate.split():
        if char.isdigit():
            return int(char)
    pass

In [156]:
#apply digit function 
data['rate'] = data['rate'].apply(keep_digit)

In [157]:
data.head()

,alias,date,rate,review,review_clean
0,le-sud-paris,2018-11-20,5,"Ed W.\nElite 2021\nMiami, FL\n259\n562\n4232\n...",updated review photos traditional parisian coo...
1,le-sud-paris,2021-07-04,2,"Jaki F.\nElite 2021\nSignal Hill, CA\n358\n270...",photos im sure happening restaurant excited di...
2,le-sud-paris,2018-06-20,3,"Jen S.\nElite 2021\nBuffalo, NY\n71\n322\n809\...",photos ambience enticing end day definitely di...
3,le-sud-paris,2015-09-28,3,"Sam S.\nElite 2021\nMunich, Germany\n2133\n255...",photos ambience star opinion expensive tourist...
4,le-sud-paris,2019-08-08,1,"Fahad A.\nLos Angeles, CA\n0\n10\n15\n8/8/2019...",photos worst restaurant ever servers help us f...