In [177]:
import pandas as pd
import numpy as np
import string
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from datetime import datetime
data = pd.read_csv('../fobokiller/data/scrapping.csv',nrows=100,index_col=0)
data.head()

,alias,date,rate,review
0,le-sud-paris,11/20/2018,5 star rating,"Ed W.\nElite 2021\nMiami, FL\n259\n562\n4232\n..."
1,le-sud-paris,7/4/2021,2 star rating,"Jaki F.\nElite 2021\nSignal Hill, CA\n358\n270..."
2,le-sud-paris,6/20/2018,3 star rating,"Jen S.\nElite 2021\nBuffalo, NY\n71\n322\n809\..."
3,le-sud-paris,9/28/2015,3 star rating,"Sam S.\nElite 2021\nMunich, Germany\n2133\n255..."
4,le-sud-paris,8/8/2019,1 star rating,"Fahad A.\nLos Angeles, CA\n0\n10\n15\n8/8/2019..."

In [183]:
def clear_data_text(text, language='english'):
    #remove before the begin of the comment
    for i in range(5):
        pos = 0
        pos = text.find('\n')
        text = text[pos+1:]
    
    #remove punctuation
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')

    # remove number
    text = ''.join(word for word in text if not word.isdigit())

    #pass in lowercase
    text = text.lower()

    #remove stop words
    stop_words = set(stopwords.words(language))
    
    #text to list of word
    word_tokens = word_tokenize(text)

    #list to string
    text = " ".join([w for w in word_tokens if not w in stop_words])
    
    #remove after the end of the comment
    if text.endswith('useful funny cool'):
        text = text[:-len('useful funny cool')]
    if text.startswith('updated review'):
        text = text[len('updated review'):]
    if text.startswith('photos'):
        text = text[len('photos'):]
    if text.startswith('photo'):
        text = text[len('photo'):]
    text = text.strip()
    return text

In [184]:
#clean text
data['review_clean'] = data['review'].apply(clear_data_text)

In [153]:
#def function to change date format
def change_date(date,format_='%m/%d/%Y'):
    date_tmp = datetime.strptime(date,format_)
    return date_tmp

In [154]:
#apply change date
data['date'] = data['date'].apply(change_date)

In [155]:
#function to keep digit from rate string
def keep_digit(rate):
    for char in rate.split():
        if char.isdigit():
            return int(char)
    pass

In [156]:
#apply digit function 
data['rate'] = data['rate'].apply(keep_digit)

In [180]:
data.head()

,alias,date,rate,review,review_clean
0,le-sud-paris,11/20/2018,5 star rating,"Ed W.\nElite 2021\nMiami, FL\n259\n562\n4232\n...",photos traditional parisian cooking style res...
1,le-sud-paris,7/4/2021,2 star rating,"Jaki F.\nElite 2021\nSignal Hill, CA\n358\n270...",im sure happening restaurant excited dine ser...
2,le-sud-paris,6/20/2018,3 star rating,"Jen S.\nElite 2021\nBuffalo, NY\n71\n322\n809\...",ambience enticing end day definitely directed...
3,le-sud-paris,9/28/2015,3 star rating,"Sam S.\nElite 2021\nMunich, Germany\n2133\n255...",ambience star opinion expensive tourist trap ...
4,le-sud-paris,8/8/2019,1 star rating,"Fahad A.\nLos Angeles, CA\n0\n10\n15\n8/8/2019...",worst restaurant ever servers help us food bl...

In [185]:
data.loc[3,'review_clean']

'ambience star opinion expensive tourist trap moment enter feel like transported south france sort stops service ok arrogant run many items menu time arrived menu cards english bit giveaway expensive mains many dishes wanted order available wine list small ok wines red ordinary lack proven√ßal aperitifs also equally disappointing petit pots starter ok four dips pots breads blow away anyway main whole fish also ok slightly overcooked forgot bring sides whole meal left whole fish nothing else cafe gourmand highlight evening chocolate mousse die dont think would come back paris one favourite cities eat extensive culinary scene confident way better lot less money town leave place people want pay lot money ok food see photos sam le sud'

In [199]:
del test

In [237]:
test=pd.read_csv('../fobokiller/data/scrapping_cleaned.csv',index_col=0)

In [238]:
test.shape

(45839, 5)

In [236]:
test.loc[5,'review_clean']

'less block le meridian hotel known steak tartare disappoint cod good rib steak id recommend appetizer platter wine list ok good service'

In [231]:
def clear_data_text_TEST(text, language='english'):
    #remove before the begin of the comment
    for i in range(5):
        pos = 0
        pos = text.find('\n')
        text = text[pos+1:]
    
    #remove punctuation
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')

    # remove number
    text = ''.join(word for word in text if not word.isdigit())

    #pass in lowercase
    text = text.lower()

    #remove stop words
    stop_words = set(stopwords.words(language))
    
    #text to list of word
    word_tokens = word_tokenize(text)

    #list to string
    text = " ".join([w for w in word_tokens if not w in stop_words])
    
    if text.endswith('useful funny cool'):
        text = text[:-len('useful funny cool')]
    if text.startswith('updated review'):
        text = text.split('useful funny cool',1)[0]
        text = text[len('updated review'):]
    
    return text

In [232]:
review_to_split = test.loc[5,'review']
rts=clear_data_text_TEST(review_to_split)
rts

' photo less block le meridian hotel known steak tartare disappoint cod good rib steak id recommend appetizer platter wine list ok good service '

In [233]:
review_to_split

"Roger Q.\nLos Altos, CA\n49\n205\n181\n1/29/2018\nUpdated review\n1 photo\nThis is less than a block from Le Meridian Hotel. They are known for their steak tartare and it did not disappoint. The cod was good as was their rib steak. I'd recommend the appetizer platter. Wine list is just ok. Good service.\nUseful 1\nFunny\nCool 1\n7/6/2015Previous review\nThe monk fish was fantastic. As was the bouillabaisse. Decent French wines. Locally sourced ingredients. Friendly staff that lets one sit as long as one wishes.\nRead more"