In [114]:
%load_ext autoreload
%autoreload 2

In [25]:
import pandas as pd 
import numpy as np 
import pickle

In [2]:
from fobokiller.cosim import load_embedding, summary_reviews, compute_sim_df

In [3]:
embedding = load_embedding()

2021-12-01 12:02:57.811531: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [4]:
query = 'I would like to eat a good french meal with mushrooms'

In [5]:
results=compute_sim_df(query,embedding,n_prox=3000,min_review=10)

In [6]:
summary = summary_reviews(results,10)

In [14]:
summary.reset_index(inplace=True)

In [11]:
results.head()

,alias,date,rate,review_clean,review_sentences,sim_s,rate_filtered,review_filtered,sim_r,rate_all,review_all,ratio,metric
0,l-etoile-de-montmartre-paris-2,2011-01-18,4,l'etoile is a great little neighborhood cafe. ...,"good, hearty french food",0.704448,4.000000,1.0,0.704448,3.557377,11.0,0.090909,0.064041
1,la-fontaine-de-mars-paris-2,2012-03-17,5,a truly awesome bistro and one of the best i v...,starters: poached eggs with mushrooms in a wi...,0.694910,4.833333,40.0,0.590118,4.450627,224.0,0.178571,0.105378
2,chez-georges-paris-6,2019-12-14,4,julia child's favorite restaurant in paris. ho...,"please take your time here, or at any french ...",0.693810,3.400000,5.0,0.624527,3.647982,51.0,0.098039,0.061228
3,la-rôtisserie-d-argent-paris,2018-06-25,4,delicious meal - salad with baby artichokes an...,suprême de volaille - chicken breast stuffed ...,0.692447,4.750000,7.0,0.602681,3.805556,46.0,0.152174,0.091712
4,le-comptoir-de-la-gastronomie-paris,2017-07-16,5,i went to paris for the day and wanted to eat ...,i went to paris for the day and wanted to eat ...,0.691569,4.809160,125.0,0.585045,4.455240,1030.0,0.121359,0.071001

In [19]:
df = summary.merge(results,on='alias')

In [22]:
summary

,alias,reviews,nb_sentences,nb_review,metric sim_ratio,sentences_pond,metric_pond
0,au-boeuf-couronné-paris-4,{it was our first awesome meal in paris! we di...,3,3.0,0.157997,0.050000,0.007900
1,au-petit-marguery-paris-4,"{a very nice, well priced meal in a traditiona...",5,5.0,0.182090,0.083333,0.015174
2,au-reveil-du-xv-paris,{great find! food is very tasty and good selec...,6,6.0,0.138264,0.100000,0.013826
3,auberge-nicolas-flamel-paris,{hands down our favorite meal and restaurant i...,10,10.0,0.148468,0.166667,0.024745
4,aux-anysetiers-du-roy-paris,{typical tiny restaurant- maybe room for - din...,7,7.0,0.133945,0.116667,0.015627
5,aux-artistes-paris,{an excellent value proposition for a long fre...,4,3.0,0.136387,0.066667,0.009092
6,aux-lyonnais-paris,{excellent food and service. ordered from euro...,6,6.0,0.143230,0.100000,0.014323
7,l-encrier-paris,"{good, solid french cooking and atmosphere. no...",6,6.0,0.221796,0.100000,0.022180
8,l-estaminet-paris,"{very good authentic, comforting french food. ...",6,5.0,0.183050,0.100000,0.018305
9,le-casse-noix-paris-15,{our favorite meal in paris thus far. euros fo...,7,6.0,0.141178,0.116667,0.016471

In [23]:
summary.sum()

/var/folders/zd/9ts3jb2s5472mty2sgdddp3m0000gn/T/ipykernel_33844/3152757715.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  summary.sum()

alias               au-boeuf-couronné-paris-4au-petit-marguery-par...
nb_sentences                                                       60
nb_review                                                        57.0
metric sim_ratio                                             1.586405
sentences_pond                                                    1.0
metric_pond                                                  0.157643
dtype: object

dataset = dataset.assign(embedding=[*np.array(embedding)])
dataset = dataset.groupby('review_clean').agg({'review_sentences':list,'embedding':list,'rate':'mean'}).reset_index()

In [26]:
with open('../embeddings.pkl','rb') as file:
    embedding_df = pickle.load(file)

In [30]:
embedding_df

{'sentences': 0         this is not your traditional parisian cooking ...
 1          this restaurant is a full on southern france ...
 2                   we were looking for a good boulliabese
 3          and here at le sud they have the boulliabese ...
 4           is almost the same but thickened with egg yolks
                                 ...
 459344                 but i'll be back next time i'm there
 459345             nice little hole-in-the-wall kinda place
 459346     i ate the very well priced dish of the day; c...
 459347     it was delicious accompanied with a happy hou...
 459348                         very french, would recommend
 Name: review_sentences, Length: 459349, dtype: object,
 'embeddings': <tf.Tensor: shape=(459349, 768), dtype=float32, numpy=
 array([[ 0.04608987,  0.0684234 , -0.00984177, ...,  0.01829738,
          0.00357979, -0.00023565],
        [ 0.03371384,  0.03673802,  0.02455381, ..., -0.02362741,
          0.01673002, -0.00324849],
        [ 0.073636  , -0.00642742, -0.01672614, ...,  0.00019479,
          0.05600835, -0.00704501],
        ...,
        [-0.01676314,  0.04864478,  0.01831327, ...,  0.02241626,
         -0.01726213, -0.02431561],
        [ 0.02261987, -0.00767533, -0.00336804, ..., -0.00186576,
          0.00481931, -0.03627369],
        [-0.00754219,  0.02868729,  0.0013856 , ..., -0.01501646,
          0.03937773, -0.01506876]], dtype=float32)>}

In [31]:
all_sentences=pd.read_csv('../fobokiller/data/scrapping_cleaned_sentences.csv',index_col=0)

In [37]:
all_sentences.head()

,alias,date,rate,review,review_clean,review_sentences
0,le-sud-paris,2018-11-20,5,"Ed W.\nElite 2021\nMiami, FL\n259\n562\n4232\n...",this is not your traditional parisian cooking ...,this is not your traditional parisian cooking ...
1,le-sud-paris,2018-11-20,5,"Ed W.\nElite 2021\nMiami, FL\n259\n562\n4232\n...",this is not your traditional parisian cooking ...,this restaurant is a full on southern france ...
2,le-sud-paris,2018-11-20,5,"Ed W.\nElite 2021\nMiami, FL\n259\n562\n4232\n...",this is not your traditional parisian cooking ...,we were looking for a good boulliabese
3,le-sud-paris,2018-11-20,5,"Ed W.\nElite 2021\nMiami, FL\n259\n562\n4232\n...",this is not your traditional parisian cooking ...,and here at le sud they have the boulliabese ...
4,le-sud-paris,2018-11-20,5,"Ed W.\nElite 2021\nMiami, FL\n259\n562\n4232\n...",this is not your traditional parisian cooking ...,is almost the same but thickened with egg yolks

In [35]:
dataset = all_sentences.assign(embedding=[*np.array(embedding)])

In [39]:
dataset = dataset.groupby('review_clean').agg({'alias':'first',
                                               'rate':'mean',
                                               'review_sentences':list,
                                               'embedding':list,
                                               }).reset_index()

In [43]:
dataset['review_sentences_trimed']=dataset['review_sentences'].apply(lambda list_:list_[:30])

In [45]:
dataset['length_sentences_trimed'] = dataset['review_sentences_trimed'].apply(lambda list_:len(list_))
dataset['length_sentences'] = dataset['review_sentences'].apply(lambda list_:len(list_))

,review_clean,alias,rate,review_sentences,embedding,review_sentences_trimed,length_sentences_trimed,length_sentences
0,"!!! a theif working amongst you!!! myself, my ...",café-daguerre-paris-2,1.0,"[ a theif working amongst you, myself, my sis...","[[0.045603834, -0.017338777, 0.0012167644, 0.0...","[ a theif working amongst you, myself, my sis...",17,17
1,"""""""""avoid at all costs"""""""""""" this was an absol...",l-entrecôte-de-paris-paris-2,1.0,"[""""""""avoid at all costs"""""""""""" this was an abso...","[[0.019589972, 0.048924193, -0.015198772, -0.0...","[""""""""avoid at all costs"""""""""""" this was an abso...",9,9
2,"""$$$"" food but only at a ""$"" price. will be co...",un-zèbre-à-montmartre-paris-3,5.0,"[""$$$"" food but only at a ""$"" price, will be ...","[[0.016501594, 0.1083755, 0.014006043, -0.0319...","[""$$$"" food but only at a ""$"" price, will be ...",6,6
3,"""a middle finger salute"" well i haven't had ma...",le-sens-unique-paris-2,1.0,"[""a middle finger salute"" well i haven't had m...","[[0.019542666, -0.017905522, 0.0037664298, 0.0...","[""a middle finger salute"" well i haven't had m...",11,11
4,"""a true disappointment and a waste of money an...",la-maison-de-l-aubrac-paris,1.0,"[""a true disappointment and a waste of money a...","[[0.036009785, 0.0029092361, 0.0132899275, 0.0...","[""a true disappointment and a waste of money a...",16,16

In [50]:
dataset['length_sentences_trimed'].max()

30

In [52]:
dataset.drop(columns=['length_sentences_trimed','length_sentences'],inplace=True)

In [53]:
dataset.head()

,review_clean,alias,rate,review_sentences,embedding,review_sentences_trimed
0,"!!! a theif working amongst you!!! myself, my ...",café-daguerre-paris-2,1.0,"[ a theif working amongst you, myself, my sis...","[[0.045603834, -0.017338777, 0.0012167644, 0.0...","[ a theif working amongst you, myself, my sis..."
1,"""""""""avoid at all costs"""""""""""" this was an absol...",l-entrecôte-de-paris-paris-2,1.0,"[""""""""avoid at all costs"""""""""""" this was an abso...","[[0.019589972, 0.048924193, -0.015198772, -0.0...","[""""""""avoid at all costs"""""""""""" this was an abso..."
2,"""$$$"" food but only at a ""$"" price. will be co...",un-zèbre-à-montmartre-paris-3,5.0,"[""$$$"" food but only at a ""$"" price, will be ...","[[0.016501594, 0.1083755, 0.014006043, -0.0319...","[""$$$"" food but only at a ""$"" price, will be ..."
3,"""a middle finger salute"" well i haven't had ma...",le-sens-unique-paris-2,1.0,"[""a middle finger salute"" well i haven't had m...","[[0.019542666, -0.017905522, 0.0037664298, 0.0...","[""a middle finger salute"" well i haven't had m..."
4,"""a true disappointment and a waste of money an...",la-maison-de-l-aubrac-paris,1.0,"[""a true disappointment and a waste of money a...","[[0.036009785, 0.0029092361, 0.0132899275, 0.0...","[""a true disappointment and a waste of money a..."

In [113]:
dataset.to_csv

(56650, 6)

DATASET = grouped by review, full dataset , embedding associé

SUMMARY = liste de restos qu'on show en result

RESULTS = les reviews qui pop up en cosim

In [102]:


results['is_sim'] = 1
summary['is_in_summary'] = 1

results_trimed=results.drop(columns=['alias',
                                    'rate',
                                     'review_sentences'
                                    ])
tmp_df = dataset.merge(results_trimed,on='review_clean',how='left')
tmp_df['is_sim'].fillna(0,inplace=True)
all_df = tmp_df.merge(summary,on='alias',how='left')
all_df.fillna(0,inplace=True)

In [96]:
all_df = all_df.merge(summary,on='alias',how='left')

(56799, 23)

In [112]:
### ASSEZ COOL COMME METRIC == donne une idée de la 'proximité des restos' par rapport à la query 
all_df[(all_df['is_in_summary']==1) & (all_df['is_sim']==1)]['nb_sentences'].sum()

392.0

In [107]:
all_df.head()

,review_clean,alias,rate,review_sentences,embedding,review_sentences_trimed,date,sim_s,rate_filtered,review_filtered,...,ratio,metric,is_sim,reviews,nb_sentences,nb_review,metric sim_ratio,sentences_pond,metric_pond,is_in_summary
0,"!!! a theif working amongst you!!! myself, my ...",café-daguerre-paris-2,1.0,"[ a theif working amongst you, myself, my sis...","[[0.045603834, -0.017338777, 0.0012167644, 0.0...","[ a theif working amongst you, myself, my sis...",0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,"""""""""avoid at all costs"""""""""""" this was an absol...",l-entrecôte-de-paris-paris-2,1.0,"[""""""""avoid at all costs"""""""""""" this was an abso...","[[0.019589972, 0.048924193, -0.015198772, -0.0...","[""""""""avoid at all costs"""""""""""" this was an abso...",0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,"""$$$"" food but only at a ""$"" price. will be co...",un-zèbre-à-montmartre-paris-3,5.0,"[""$$$"" food but only at a ""$"" price, will be ...","[[0.016501594, 0.1083755, 0.014006043, -0.0319...","[""$$$"" food but only at a ""$"" price, will be ...",0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,"""a middle finger salute"" well i haven't had ma...",le-sens-unique-paris-2,1.0,"[""a middle finger salute"" well i haven't had m...","[[0.019542666, -0.017905522, 0.0037664298, 0.0...","[""a middle finger salute"" well i haven't had m...",0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,"""a true disappointment and a waste of money an...",la-maison-de-l-aubrac-paris,1.0,"[""a true disappointment and a waste of money a...","[[0.036009785, 0.0029092361, 0.0132899275, 0.0...","[""a true disappointment and a waste of money a...",0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [116]:
from fobokiller.heatmap import load_reviews_dataset

In [122]:
%%time
inch = load_reviews_dataset()

CPU times: user 7.55 s, sys: 4.44 s, total: 12 s
Wall time: 13.7 s

In [125]:
inch.head()

,review_clean,alias,rate,review_sentences,embedding,review_sentences_trimed
0,"!!! a theif working amongst you!!! myself, my ...",café-daguerre-paris-2,1.0,"[ a theif working amongst you, myself, my sis...","[[0.045603834, -0.017338777, 0.0012167644, 0.0...","[ a theif working amongst you, myself, my sis..."
1,"""""""""avoid at all costs"""""""""""" this was an absol...",l-entrecôte-de-paris-paris-2,1.0,"[""""""""avoid at all costs"""""""""""" this was an abso...","[[0.019589972, 0.048924193, -0.015198772, -0.0...","[""""""""avoid at all costs"""""""""""" this was an abso..."
2,"""$$$"" food but only at a ""$"" price. will be co...",un-zèbre-à-montmartre-paris-3,5.0,"[""$$$"" food but only at a ""$"" price, will be ...","[[0.016501594, 0.1083755, 0.014006043, -0.0319...","[""$$$"" food but only at a ""$"" price, will be ..."
3,"""a middle finger salute"" well i haven't had ma...",le-sens-unique-paris-2,1.0,"[""a middle finger salute"" well i haven't had m...","[[0.019542666, -0.017905522, 0.0037664298, 0.0...","[""a middle finger salute"" well i haven't had m..."
4,"""a true disappointment and a waste of money an...",la-maison-de-l-aubrac-paris,1.0,"[""a true disappointment and a waste of money a...","[[0.036009785, 0.0029092361, 0.0132899275, 0.0...","[""a true disappointment and a waste of money a..."

In [126]:
from fobokiller.heatmap import creating_query_dataset

In [127]:
query = 'I would like a vegan burger with music'
n_prox = 3000
n_best = 10 
min_review = 10

In [128]:
%%time 
mashallah = creating_query_dataset(query = query,n_best=n_best,n_prox=n_prox,min_review=min_review)

CPU times: user 11 s, sys: 14.1 s, total: 25.1 s
Wall time: 28.1 s

In [131]:
mashallah.head()

,review_clean,alias,rate,review_sentences,embedding,review_sentences_trimed,date,sim_s,rate_filtered,review_filtered,...,ratio,metric,is_sim,reviews,nb_sentences,nb_review,metric sim_ratio,sentences_pond,metric_pond,is_in_summary
0,"!!! a theif working amongst you!!! myself, my ...",café-daguerre-paris-2,1.0,"[ a theif working amongst you, myself, my sis...","[[0.045603834, -0.017338777, 0.0012167644, 0.0...","[ a theif working amongst you, myself, my sis...",0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,"""""""""avoid at all costs"""""""""""" this was an absol...",l-entrecôte-de-paris-paris-2,1.0,"[""""""""avoid at all costs"""""""""""" this was an abso...","[[0.019589972, 0.048924193, -0.015198772, -0.0...","[""""""""avoid at all costs"""""""""""" this was an abso...",0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,"""$$$"" food but only at a ""$"" price. will be co...",un-zèbre-à-montmartre-paris-3,5.0,"[""$$$"" food but only at a ""$"" price, will be ...","[[0.016501594, 0.1083755, 0.014006043, -0.0319...","[""$$$"" food but only at a ""$"" price, will be ...",0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,"""a middle finger salute"" well i haven't had ma...",le-sens-unique-paris-2,1.0,"[""a middle finger salute"" well i haven't had m...","[[0.019542666, -0.017905522, 0.0037664298, 0.0...","[""a middle finger salute"" well i haven't had m...",0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,"""a true disappointment and a waste of money an...",la-maison-de-l-aubrac-paris,1.0,"[""a true disappointment and a waste of money a...","[[0.036009785, 0.0029092361, 0.0132899275, 0.0...","[""a true disappointment and a waste of money a...",0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [130]:
mashallah.shape

(57159, 23)

In [132]:
mashallah.columns

Index(['review_clean', 'alias', 'rate', 'review_sentences', 'embedding',
       'review_sentences_trimed', 'date', 'sim_s', 'rate_filtered',
       'review_filtered', 'sim_r', 'rate_all', 'review_all', 'ratio', 'metric',
       'is_sim', 'reviews', 'nb_sentences', 'nb_review', 'metric sim_ratio',
       'sentences_pond', 'metric_pond', 'is_in_summary'],
      dtype='object')

In [137]:
summary_reconstructed = mashallah[mashallah['is_in_summary']==1].groupby('alias').agg({
    'review_clean':list,
    'nb_sentences':'mean',
    'nb_review':'mean',
    'metric sim_ratio':'mean',
    'sentences_pond':'mean',
    'metric_pond':'mean'
})

In [138]:
summary_reconstructed

,review_clean,nb_sentences,nb_review,metric sim_ratio,sentences_pond,metric_pond
alias,,,,,,
blend-paris-26,"[""i still eat a burger at a counter with ketch...",74.0,48.0,0.280754,0.148,0.041552
blend-paris-27,"[best, most flavorful burger i've ever had in ...",14.0,8.0,0.273000,0.028,0.007644
burger-et-fils-paris,[amazing burgers! well worth what you pay. the...,16.0,12.0,0.269706,0.032,0.008631
east-side-burgers-paris,[amazing burgers! really nice and helpful staf...,37.0,17.0,0.447103,0.074,0.033086
frog-burger-paris-4,[absolutely impressed by the service of the en...,10.0,8.0,0.260904,0.020,0.005218
hank-paris-2,"[% vegan. there are choices of burgers, extra ...",222.0,122.0,0.413715,0.444,0.183690
le-camion-qui-fume-paris,[best burger in paris to date. delicious but a...,21.0,13.0,0.268700,0.042,0.011285
le-potager-du-marais-paris,[a pretty good respite from luscious (and hard...,78.0,54.0,0.260623,0.156,0.040657
le-ruisseau-paris-2,[best burger i have had in a long time!! the s...,16.0,11.0,0.394843,0.032,0.012635
starvin-joe-paris,[definitely one of the better burgers i've had...,12.0,7.0,0.270481,0.024,0.006492